body, body.loaded {
    background: radial-gradient(white, #d2d2d2);
    transition: 300ms;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
    padding-bottom: 70px;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

div.transition-group {
    position: relative;
}

div.routes {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.btn-primary {
    color: black !important;
    font-weight: bold !important;;
    background-color: #fbff00 !important;;
    border-color: #1b1b24 !important;
}

.btn-outline-secondary:hover {
    color: #fbff00 !important;
    background-color: transparent !important;;
    border-color: #fbff00 !important;;
}

.notification-success, .notification-success .timer {
    background-color: #2b8c41d4 !important;
}

.form-control:focus {
    border-color: black !important;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0.28) !important;;
}

.rw-dropdown-list {
    text-align: left;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid #28a745;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border: 1px solid #dc3545;
}

.page-container {
    background-color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}
