.b-goods-group {
    margin-bottom: 60px;
}

.b-goods-group-2 {
    margin-bottom: 40px;
}

.b-goods-f {
    margin-top: 54px;
    margin-bottom: 115px;
}

.b-goods-f__links {
    margin-bottom: 65px;
}

.b-goods-f__links-item {
    padding-right: 11px;
    font-size: 14px;
    color: #222;
}

.b-goods-f__links-item:not(:first-child) {
    padding-left: 11px;
    border-left: 1px solid #ddd;
}

.b-goods-f__links-item .ic {
    margin-right: 9px;
}

.b-goods-f__title {
    margin-bottom: 45px;
    padding-bottom: 20px;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
}

.b-goods-f__title2 {
    padding-bottom: 20px;
    font-size: 24px;
}

.b-goods-f__title-inner {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
}

.b-goods-f__slider {
    margin-bottom: 45px;
    padding-top: 10px;
}

.b-goods-f__descr {
    margin-bottom: 50px;
}

.b-goods-f__descr-title {
    position: relative;
    padding-left: 30px;
    font-weight: 400;
    color: #222;
}

.b-goods-f__descr-title:before {
    position: absolute;
    top: 10px;
    left: 15px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: '';
}

.b-goods-f__descr-info {
    margin-bottom: 4px;
    font-weight: 700;
    color: #222;
}

.b-goods-f__link-2 {
    display: inline-block;
    padding: 12px 10px;
    font-size: 16px;
    font-weight: 700;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    text-transform: uppercase;
}

.b-goods-f__link-2 .ic {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    vertical-align: middle;
}

.b-goods-f__link-2:hover {
    text-decoration: none;
}

.b-goods-f__table {
    margin-bottom: 60px;
}

.b-goods-f__table th {
    font-size: 15px;
    font-weight: 700;
    color: #222;
    background-color: #f4f4f4;
    text-transform: uppercase;
}

.b-goods-f__table th:last-child {
    text-align: center;
}

.b-goods-f__table td {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: 400;
    color: #222;
}

.b-goods-f__table td:last-child {
    text-align: center;
}

.b-goods-f__table tfoot td {
    font-size: 15px;
    font-weight: 700;
    color: #222;
    background-color: #f4f4f4;
    text-transform: uppercase;
}

.b-goods-f-price {
    margin-top: 5px;
    text-align: center;
}

.b-goods-f-price__header {
    padding: 22px 10px 20px 0;
    color: #fff;
}

.b-goods-f-price__inner {
    padding: 17px 0 23px;
    background-color: #f2f6f7;
}

.b-goods-f-price__msrp {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    text-decoration: line-through;
    text-transform: uppercase;
}

.b-goods-f-price__main {
    display: inline-block;
    margin-left: 20px;
    font: 700 30px/1 Montserrat;
    color: #fff;
    vertical-align: middle;
}

.b-goods-f-price__note {
    margin-top: 5px;
    font-size: 12px;
    color: #222;
}

.b-goods-descrip {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.b-goods-descrip__item {
    font-size: 12px;
    font-weight: 700;
    color: #555;
}

.b-goods-descrip__item_list {
    display: none;
}

.b-goods-descrip__full-info {
    display: none;
    text-align: left;
    text-transform: uppercase;
}

.b-goods-descrip__title {
    display: block;
    font-size: 12px;
    color: #999;
}

.b-goods-descrip__text {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #222;
}

.b-goods-descrip .ic {
    display: block;
    font-size: 25px;
    height: 34px;
    font-weight: normal;
    color: #ccc;
}

.b-goods {
    display: block;
    padding-bottom: 10px;
}

.b-goods__img {
    position: relative;
    display: block;
    height: 200px;
    overflow: hidden;
}

.b-goods__img:before {
    position: absolute;
    display: block;
    right: -12px;
    bottom: -47px;
    content: '';
    background: red;
    height: 61px;
    width: 108%;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(-5deg);
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.b-goods__img:hover:before {
    opacity: 1;
}

.b-goods__img img {
    max-height: 200px;
    width: auto;
}

.row {
    overflow: hidden;
}

.b-goods__img:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 34px;
    opacity: 0;
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.b-goods__title {
    display: block;
    min-height: 42px;
    padding-top: 2px;
    font: 700 18px/1.2 Montserrat;
    color: #222;
}

.b-goods__title:hover {
    text-decoration: none;
}

.b-goods__price {
    padding-left: 10px;
    font: 700 18px Montserrat;
    color: #222;
    text-align: right;
}

.b-goods__price-msrp {
    padding-top: 10px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.b-goods__price-title {
    font: 700 11px/1 Lato;
    vertical-align: middle;
    text-transform: uppercase;
}

.b-goods__price-number {
    display: inline-block;
    vertical-align: middle;
}

.b-goods__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 12px;
    font: 12px/1 Montserrat;
    color: #fff;
    text-transform: uppercase;
}

.b-goods__label_blue {
    background-color: #1c79e2;
}

.b-goods__label_green {
    background-color: #14c048;
}

.b-goods__tag {
    display: inline-block;
    margin-right: 5px;
    padding: 9px 12px;
    font: 11px/1 Montserrat;
    color: #222;
    border: 1px solid #ddd;
    text-transform: uppercase;
    cursor: pointer;
}

.b-goods__wrap-bnrs {
    margin-top: 31px;
    margin-bottom: 35px;
    text-align: center;
}

.b-goods__wrap-bnrs .b-goods__bnr {
    margin-right: 14px;
    margin-left: 14px;
}

.b-goods__bnr {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.b-goods__price-msrp, .b-goods__footer, .b-goods__price-title, .b-goods__info {
    display: none;
}

.b-goods:hover {
    text-decoration: none;
}

.b-goods:hover .b-goods__img:after {
    opacity: 1;
}

.b-goods_list {
    padding-top: 25px;
    border: 1px solid transparent;
}

.b-goods_list:not(:first-child) {
    border-top: 1px solid #343a40;
}

.b-goods_list .b-goods-descrip {
    display: table;
    margin-top: 6px;
    margin-bottom: 33px;
    border-top: none;
}

.b-goods_list .b-goods-descrip__full-info {
    display: inline-block;
}

.b-goods_list .b-goods-descrip__info {
    display: none;
}

.b-goods_list .b-goods-descrip__item {
    display: inline-block;
    width: auto;
    padding-right: 30px !important;
    text-align: left;
    vertical-align: top;
}

.b-goods_list .b-goods-descrip__item_list {
    display: inline-block;
}

.b-goods_list .b-goods-descrip .ic {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
}

.b-goods_list .b-goods__title {
    min-height: 0;
    margin-bottom: 5px;
    font-size: 24px;
}

.b-goods_list .b-goods__img {
    padding-right: 0;
    padding-left: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.b-goods_list .b-goods__price {
    padding: 10px 20px;
    color: #fff;
    text-align: left;
}

.b-goods_list .b-goods__info {
    padding-right: 30px;
}

.b-goods_list .b-goods__price-msrp, .b-goods_list .b-goods__footer, .b-goods_list .b-goods__info {
    display: block;
}

.b-goods_list .b-goods__price-title {
    display: inline-block;
    padding-right: 20px;
}

.b-goods-flip {
    position: relative;
    margin-bottom: 27px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.b-goods-flip__img {
    position: relative;
    height: 280px;
}

.b-goods-flip__img img {
    height: 100%;
}

.b-goods-flip__header {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
}

.b-goods-flip__price {
    display: inline-block;
    font: 700 20px Montserrat;
}

.b-goods-flip__title {
    display: block;
    margin-bottom: 0;
    font: 700 20px Montserrat;
    color: #222;
    letter-spacing: -.5px;
}

.b-goods-flip__main {
    overflow: hidden;
}

.b-goods-flip-descrip {
    display: table;
    width: 100%;
    text-align: center;
}

.b-goods-flip-descrip__item {
    display: table-cell;
    text-align: left;
}

.b-goods-flip-descrip__item .ic {
    display: inline-block;
    margin-right: 8px;
    color: #ccc;
    vertical-align: top;
}

.b-goods-flip-descrip__main {
    display: inline-block;
    padding-bottom: 40px;
}

.b-goods-flip-descrip__title {
    display: block;
    font-size: 12px;
    color: #999;
}

.b-goods-flip-descrip__text {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #222;
}

.b-goods-flip-info {
    padding-top: 12px;
    background-color: #f2f6f7;
}

.b-goods-flip-info__item {
    border-bottom: 1px solid #ddd;
}

.b-goods-flip-info__item, .b-goods-flip-info__desc {
    font-size: 15px;
}

.b-goods-flip-info__item {
    margin-bottom: 0;
    padding: 12px 30px;
}

.b-goods_list:hover {
    background-color: #0000001c;
    border: 1px solid #0000002e;
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
.text-primary,
.list > li > a:hover,
.pager li > a:hover,
.pager li > a:hover .icon,
.search-close:hover,
.breadcrumb > li > a:hover,
.widget-list__link:hover,
.footer a:hover,
.btn-link:hover,
.btn-default:hover,
.breadcrumb-item + .breadcrumb-item::before,
.b-main-filter__cat-item.active,
.b-main-filter__cat-item:hover,
.b-goods-other:hover .b-goods-other__link,
.b-reviews__footer:before,
.btns-switch__item.active, .btns-switch__item:hover,
.b-steps__info,
.btn-arr-wrap:hover,
.entry-blockquote:before,
.header-soc__link:hover,
.navbar-nav .nav-link:hover {
    color: #22abc3;
}


.bg-primary,
.btn-primary,
.panel-default > .panel-heading,
.list-tags__link:hover,
.noUi-connect,
.ui-accordion__link[aria-expanded="true"] .ui-accordion__number,
.ui-accordion__link:hover .ui-accordion__number,
.b-main-slider__label:after,
.b-main-filter-nav__link,
.b-services-nav__title,
.b-services-nav__link.active .b-services-nav__inner:after,
.b-services-nav__link:hover .b-services-nav__inner:after,
.ui-slider_arr-prim .slick-arrow:after,
.ui-gallery__img:before,
.b-goods-3__img:after,
.b-goods_list .b-goods__price,
.b-post-soc__link:hover,
.b-booking-main__cat-item.active,
.b-booking-main__cat-item:hover,
.b-title-page__label:after, html .b-goods__img:before {
    background-color: #22abc3;
}


.btn-primary,
.btn-default:hover,
.ui-slider_arr-prim .slick-arrow:hover:before,
.b-main-filter__cat-item.active,
.noUi-handle,
.b-main-filter__cat-item:hover,
.flip-btn span,
.b-booking-total,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.b-semicircle_primary .b-semicircle__inner {
    border-color: #22abc3;
}

.nav-link.active:after,
#page-preloader .spinner:before,
.widget-title-2:after {
    border-top-color: #22abc3;
}

.nav-link.active:after {
    border-left-color: #22abc3;
}

.widget-title-2:after,
.b-booking-nav__main {
    border-right-color: #22abc3;
}

.table_primary > thead > tr > th,
.collapse.in,
.btn-link:hover,
.nav-link.active,
.nav-link:focus,
.nav-link:hover,
.b-isotope-filter > li.current a,
.b-isotope-filter > li:hover a {
    border-bottom-color: #22abc3;
}


/*////////////////////////////////*/
/* Secondary */
/*////////////////////////////////*/

.text-secondary,
.footer-soc .footer-soc__link:hover,
.footer-list li a:hover:before,
.b-offers-slider .slick-current + .slick-slide .b-offers__ic,
.b-bnr-contacts__link:hover,
.b-goods__title:hover,
.entry-tag:hover,
.nav-link.active,
.nav-link:focus,
.nav-link:hover,
.b-post-full ul li:before {
    color: #22abc3;
}

.btn-secondary,
.bg-secondary,
.b-stages__number:after,
.slick-dots li button:hover,
.slick-dots .slick-active button,
.btn-arr:hover:after,
.ui-slider_dots-gray .slick-dots .slick-active button,
.b-goods-other:hover .btn,
.page-link:hover,
.page-item.active .page-link,
.b-steps__btn:after,
.b-post-2 .btn:hover,
.btn-arr_secondary:after,
.b-booking-nav__item.active .b-booking-nav__main {
    background-color: #22abc3;
}

.slick-dots li button:hover,
.slick-dots .slick-active button,
.btn-arr:hover:before,
.ui-slider_dots-gray .slick-dots .slick-active button,
.b-goods-other:hover .btn,
.page-item.active .page-link,
.btn-arr_secondary:before,
.ui-slider-nav .slick-slide.slick-current:after, .ui-slider-nav .slick-slide:hover:after,
.b-semicircle_secondary .b-semicircle__inner {
    border-color: #22abc3;
}

.widget-title:after {
    border-top-color: #22abc3;
}

.widget-title:after,
.b-booking-nav__item.active .b-booking-nav__main:before {
    border-left-color: #22abc3;
}


/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* RESPONSIVE CSS */
/*///////////////////////////////////////////////////////////////////////////////////////////*/


@media (min-width: 1200px) and (max-width: 1800px) {

    .b-bnr-2__figure {
        max-width: 26vw;
    }
}

@media (min-width: 1800px) and (max-width: 2000px) {
    .navbar-brand {
        max-width: 15.5vw;
    }

    .b-bnr-2__figure {
        max-width: 28vw;
    }
}

@media (min-width: 1200px) and (max-width: 1549px) {
    .header-main__btn {
        padding: 9px 15px;
        font-size: 15px;
    }

    .header-soc__link {
        margin-left: 16px;
    }

    .yamm li {
        padding: 0;
    }

    .yamm li a {
        font-size: 14px;
    }

    .navbar-brand {
        padding-right: 20px;
        max-width: 10vw;
        margin-right: 0;
    }

    .section-progress__img {
        max-width: 27vw;
    }

    .footer__figure {
        max-width: 22vw;
    }
}


@media (min-width: 992px) and (max-width: 1600px) {
}

/* end 992px-1600px */

@media (min-width: 1440px) and (max-width: 1600px) {
}

@media (min-width: 1200px) and (max-width: 1439px) {
}


@media (min-width: 992px) and (max-width: 1199px) {
    .b-main-slider__figure-1 {
        margin-top: -110px;
        max-width: 40vw;
    }

    .b-main-filter__cat-item {
        margin-left: 0;
        margin-right: 0;
    }

    .section-progress__img {
        max-width: 16vw;
    }

    .b-goods-slider-2 {
        margin-left: -20px;
        margin-right: -20px;
    }

    .b-goods-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .b-goods-2__img {
        padding-left: 30px;
        padding-right: 30px;
    }

    .b-goods-2-descrip__item {
        width: 85px;
        height: 85px;
    }

    .b-goods-2-descrip__inner {
        width: 75px;
        height: 75px;
        margin-top: 5px;
    }

    .b-goods-2-descrip__item {
        font-size: 12px;
    }

    .b-booking-nav__main:before {
        border-top-width: 75px;
        border-bottom-width: 75px;
    }

    .b-semicircle {
        width: 190px;
        height: 95px;
    }
}

/* end 992px-1199px */


@media (max-width: 1199px) {
    .b-team {
        padding-bottom: 0;
    }

    .section-special__inner {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .section-special__img {
        display: none;
    }

    .b-post-full .entry-footer {
        margin-top: 70px;
    }

    .section-reply-form {
        margin-bottom: 40px;
    }

    .section-title-page {
        margin-top: 70px;
    }

    .b-goods-f {
        margin-bottom: 0;
    }

    .nav-tabs .nav-link {
        margin-right: 30px;
        font-size: 15px;
    }

    .btn {
        padding-left: 15px;
        padding-right: 15px;
    }

    .b-seller-soc__link {
        font-size: 14px;
    }

    .b-filter__row.row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .b-filter__item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .b-filter-slider .ui-select {
        text-align: center;
    }

    .top-bar,
    .b-bnr-2_last:before,
    .footer__figure,
    .b-bnr-2_last .b-bnr-2__figure,
    .b-bnr-2_first .b-bnr-2__figure {
        display: none;
    }

    html .ui-gallery__img {
        margin-bottom: 0;
    }

    html .b-offers__wrap {
        margin-right: 0;
        margin-left: 0;
    }

    html .b-offers {
        padding-bottom: 0;
    }

    .b-offers-slider .slick-arrow {
        top: -50px;
    }

    .b-offers-slider .slick-next {
        right: 0;
        display: none !important;
    }

    .b-offers-slider .slick-prev {
        left: 0;
        display: none !important;
    }

    .b-bnr-contacts__link {
        display: block;
    }

    .ui-slider_arr_btm-center .slick-dots {
        bottom: 0;
    }

    .b-reviews-slider {
        margin-top: 50px;
    }

    .b-post-full .entry-media {
        margin-left: 0;
        margin-right: 0;
    }

    html .header-main .navbar-brand {
        max-width: 200px;
        margin-right: 0;
        border-right: none;
        padding-right: 0;
    }

    .section-title-page_mod-a {
        margin-top: 0;
    }

    .section-title-page_mod-a {
        height: 600px;
    }
}

/* end 1199px */


@media (max-width: 991px) {

    .b-main-filter-nav__item {
        margin-bottom: 3px;
        margin-right: 0;
    }

    html .l-sidebar_top_minus {
        margin-top: 0;
    }

    html .nav-tabs .nav-link {
        margin-right: 0;
    }

    .ui-decor {
        height: 30px;
    }

    .b-styles__group {
        margin-top: 20px;
    }

    .b-styles__main {
        padding-left: 0;
    }

    .section-title-page_mod-a .b-title-page {
        font-size: 50px;
    }

    .b-booking-main {
        margin-top: 40px;
        padding-left: 0;
    }

    .section-title-page_mod-b {
        height: 265px;
        padding-top: 120px;
        margin-top: 0;
    }

    .b-services-content__main:before,
    .section-progress__img,
    .b-stages__item:not(:last-child):after,
    .btns-switch {
        display: none;
    }

    .footer__decor {
        height: 20px;
        right: 0;
        left: 0;
    }

    .b-post-1 {
        margin-bottom: 0;
    }

    .b-post-2 .entry-media {
        padding-right: 0;
        margin-bottom: 30px;
        padding-left: 0;
    }

    .b-post-2 {
        margin-bottom: 65px;
    }

    .b-post-2 .entry-title {
        font-size: 24px;
    }

    .b-goods-slider-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .b-goods-2 {
        padding-left: 0;
        padding-right: 0;
    }

    .b-goods-2__img {
        text-align: center;
    }

    .b-goods-2__img img {
        display: inline-block;
    }

    .b-main-filter__btn {
        width: 100%;
        margin-top: 20px;
    }

    .b-stages__item:nth-child(even) {
        padding-top: 0;
    }

    .b-stages__number {
        margin-bottom: 0;
        margin-top: 25px;
    }
}

/* end 991px */


@media (max-width: 991px) and (min-width: 768px) {
    .b-main-filter-nav .b-main-filter-nav__link {
        padding-left: 30px;
        padding-right: 30px;
    }

    .b-semicircle-wrap {
        width: 260px;
        margin-bottom: 50px;
    }

    .b-semicircle {
        width: 240px;
        height: 120px;
    }

    .b-steps__item {
        width: 215px;
    }

    .b-steps__item:not(:first-child) .b-steps__btn:after {
        width: 138px;
    }

    .b-filter-goods_center .b-filter-goods__info {
        margin-right: 40px;
    }
}

/* end 991px-768px */


@media (max-width: 767px) {

    html #map {
        margin-bottom: 25px;
    }

    html .section-title-page_mod-a {
        height: auto;
    }

    html .section-title-page_mod-a .area-bg__inner {
        padding-top: 0;
        padding-bottom: 0;
    }

    html .b-post .entry-meta__item {
        display: block;
        margin-bottom: 0;
        padding-top: 10px;
        padding-left: 5px;
    }

    html .section-title-page_mod-a .b-title-page {
        letter-spacing: 1px;
    }

    .b-main-slider__slogan, .b-main-slider__subtitle {
        visibility: hidden;
    }

    html .section-default {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    html .b-goods-2-descrip__item {
        margin-right: 15px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    html .b-main-slider__title-wrap {
        margin-left: 0;
    }

    html .b-goods__img {
        height: auto;
        margin-bottom: 15px;
    }

    html .b-booking-main__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    html .b-booking-price__day {
        margin-left: 0;
        font-size: 14px;
    }

    .section-team {
        padding-bottom: 105px;
    }

    .section-gallery {
        padding-top: 75px;
    }

    .section-special__inner {
        padding: 50px 20px 10px;
    }

    .b-semicircle-wrap {
        margin-bottom: 40px;
    }

    .b-styles__group {
        padding-left: 0;
        padding-right: 0;
    }

    .section-title-page_mod-a .b-title-page {
        font-size: 40px;
    }

    .b-booking-nav__main {
        padding-left: 40px;
    }

    .b-booking-nav__item .ic {
        left: 12px;
    }

    .b-booking-main__section {
        margin-bottom: 0;
    }

    .b-booking-main__cat {
        text-align: center;
    }

    .b-booking-price__day {
        display: block;
    }

    .b-booking-group {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .b-booking-nav {
        padding-right: 20px;
        display: none;
    }

    .b-booking-price__inner {
        padding-right: 0;
    }

    .b-booking-price__label {
        margin-left: 0;
        margin-right: 17px;
    }

    .b-booking-main__section .col-auto {
        width: 100%;
        max-width: 100%;
    }

    html .b-post-full .entry-meta__item {
        font-size: 14px;
        width: 100%;
        display: inline-block;
        text-align: left;
        padding-left: 0;
        margin-left: 0 !important;
    }

    .b-filter-goods_center .b-filter-goods__info {
        margin-right: 0;
        margin-bottom: 10px;
    }

    html .b-post-full .entry-meta {
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    .b-post-full .b-post-soc__title {
        width: 100%;
        padding-bottom: 10px;
    }


    html .b-post-full .entry-blockquote {
        background: #f2f6f7;
        padding: 20px !important;

    }


    .b-filter-goods__select {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }

    .b-steps__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .b-steps__item:not(:first-child) .b-steps__btn:after {
        display: none;
    }

    .b-post-full .ui-decor,
    .b-post-full:before {
        display: none;
    }

    .b-post-full {
        margin-top: 0;
        padding-top: 0;
    }

    .b-post-full .entry-blockquote:before {
        top: -10px;
        left: 0;
        font-size: 80px;
    }

    .b-post-full .entry-footer {
        margin-left: 0;
        margin-right: 0;
    }

    .b-post-full .entry-blockquote {
        padding-left: 0;
        font-size: 18px;
    }

    .b-goods-f__title {
        margin-bottom: 20px;
    }

    .b-goods-f .nav-tabs {
        margin-top: 30px;
        border: 0;
    }

    .b-goods-f .nav-tabs .nav-link {
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .b-goods-f .nav-tabs {
        display: block;
    }

    .b-goods-f__descr {
        margin-bottom: 0;
    }

    .b-goods-f__descr-title {
        padding-left: 15px;
    }

    .breadcrumb {
        padding-left: 0;
        padding-right: 0;
    }

    .b-goods-f {
        margin-top: 0;
    }

    .b-goods-f__links {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .b-goods-f__slider {
        margin-bottom: 25px;
    }

    .b-title-page {
        font-size: 30px;
    }

    .b-filter__item:first-child {
        margin-bottom: 15px;
    }

    .ui-slider_arr_btm-center .slick-dots {
        bottom: -30px;
    }

    .b-bnr-2__inner {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 15%;
        padding-right: 15%;
    }

    html .b-goods-f__links-item {
        padding-right: 0;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    html .b-goods-f__links-item:not(:first-child) {
        padding-left: 0;
        border-left: 0;
        margin-left: 0;
    }


    .b-goods-slider .slick-slide {
        text-align: center;
    }

    .b-goods-other {
        max-width: 400px;
    }

    html .b-goods-flip__title {
        letter-spacing: 1px;
    }


    .b-seller-soc {
        margin-left: -20px;
    }

    html .b-seller__phone {
        font-size: 17px;
    }

    html .b-seller__header {
        text-align: center;
    }

    html .b-seller__name {
        margin-bottom: 6px;
        padding-top: 10px;
    }

    .slick-dots {
        display: none !important;
    }


    .b-stages__number {
        font-size: 80px;
    }

    .b-goods-2 {
        margin-bottom: 70px;
    }

    .b-goods-2__img {
        height: auto;
    }

    .b-progress-list {
        width: 100%;
    }

    .b-progress-list {
        padding-left: 0;
        padding-right: 0;
    }

    .b-progress-list__item {
        margin-bottom: 0;
    }

    .b-phone__number {
        margin-top: 10px;
    }

    .ui-title {
        font-size: 28px;
    }

    .b-services-content__section {
        padding-right: 0;
    }

    .b-main-filter__label {
        margin-bottom: 10px;
        padding-left: 0;
    }

    html .b-filter-goods__info {
        padding-bottom: 10px;
    }

    html .b-services-nav__inner {
        margin-left: 0;
    }

    .b-offers__img img {
        opacity: 0 !important;
    }

    html .b-goods-2-descrip {
        text-align: center;
    }


    .b-goods-2 .col-auto {
        width: 100% !important;
    }


    html .ui-slider-nav .slick-slide {
        margin-right: 10px;
    }


    html .b-bnr-2__title {
        font-size: 22px;
    }

    html .b-post-3 {
        margin-right: 0;
    }

    html .footer-section {
        padding-top: 20px;
        padding-left: 0 !important;
    }

    .b-main-filter .b-main-filter__item {
        margin-bottom: 20px;
    }

    .b-main-filter-nav {
        display: block;
    }

    .b-main-filter {
        padding-left: 0;
        padding-right: 0;
    }

    .ui-title-logo {
        font-size: 40px;
        margin-bottom: -20px;
    }

    .ui-title_lg {
        font-size: 30px;
    }

    .ui-decor {
        height: 20px;
        left: 0;
    }

    .b-main-slider {
        height: 450px;
    }

    .b-main-slider__title {
        font-size: 50px;
    }

    .b-main-slider__slide-1 {
        padding-top: 110px;
    }

    .b-main-slider__slogan_2 {
        padding-top: 90px;
    }

    .b-main-slider-price__number {
        font-size: 42px;
    }

    .b-main-slider-price__value {
        font-size: 22px;
    }

    .b-main-slider__subtitle {
        font-size: 50px;
    }

    .b-main-slider-price {
        margin-top: 0;
        height: 195px;
        background-size: contain;
    }

    .b-main-slider__subtitle {
        margin-top: -275px;
    }

    .b-main-slider-price__inner {
        padding-top: 20px;
        width: 140px;
    }

    .header-main {
        padding: 10px 0;
    }

    .comments-list .children {
        margin-left: 0;
    }

    .footer-section_link {
        margin-left: 0;
    }

    .flip__back .b-goods-info__item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .comments-list .comment-datetime {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 0;
    }

    .comments-list .comment-body {
        padding-right: 0;
    }

    .comments-list .children .comment {
        padding-left: 40px;
    }
}

/* end 767px */

